/*
*general
*/
body {
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
}

h1, h2, h3, h4, h5 {
    font-family: 'Courgette', cursive;
}

/*
*header
*/

nav {
    position: relative;
    z-index: 1;
    border-bottom: solid rgba(255, 255, 255, .3);
}



.title {
    font-family: 'Courgette', cursive;
}


header {
    position: relative;
    background-image: url(../img/header.jpg);
    background-position-x: center;
    background-position-y: center;
    background-repeat: none;
    text-align: center;
    color: white;
    margin-bottom: 45px;
}

.header-filter {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    z-index: 0;
}

.header-content {
    position: relative;
    z-index: 1;
    padding-bottom: 30px;
    padding-top: 10px;
}

main h3 {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    padding-bottom: 45px;
}


/*
*main
*/

/*
*articles
*/

main h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    text-align: center;
    margin-bottom: 45px;
}


/*
*footer
*/

footer {
    background-color: black;
    color: white;
    padding-top: 30px;
    padding-bottom: 40px;
}

.social-media ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
footer a {
    color: white;
    text-decoration: underline;
}

.social-media a {
    padding: 3px 5px 3px 5px;
    border-radius: 3px;
}
.social-media ul {
    display: flex;
}

.social-media a {
    color: black;
    }

footer .social-media a {
color: black;
}

.social-media li {
    background-color: white;
    margin-left: 3px;
    border-radius: 3px;

}
