h1, h2, h5 {
    font-family: 'Courgette';
}

h3 {
    font-family: 'Courgette';
    text-align: center;
}

h4 {
    font-family: 'Oswald';
    text-align: center;
}

h5 {
    
    margin-top: 15px;
}


img {
	max-width: 60px;
	height: auto;
}

p {
    font-family: 'Oswald';
    text-align: left;
}

#titre {
    text-align: left;
}

#banner {
    margin-top: 100px;
}

.navbar-brand {
    font-family: 'Courgette', cursive;
}

.nav-link {
    font-family: 'Oswald', sans-serif;
}

header {
    background:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('../img/header.jpg');
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.navbar .navbar-nav .nav-item .nav-link {
    color: #fff;
}

.navbar-brand {
    color: #fff;
}


.row {
    margin-top: 15px;
}

form {
    margin-top: 40px;
}

footer {
    background-color: black;
    color: white;
    margin: 0;
}


