

.team-article img {
    max-height: auto;
    max-width: 250px;
    border-radius: 50%;
    margin-bottom: 0;
}

body {
    font-family: Oswald, Helvetica, Arial, sans-serif;
    font-weight: 200;
  }

header {
    background: url(../img/team/team.jpg) center center;
}